<div class="row">
    <div class="large-6 small-12 columns">
        <div class="row">
            <div class="large-12 small-12 columns">
                <strong>Email Address: </strong>
                <input type="text" ng-model="newUser.email" class="form-control" />
            </div>
        </div>
    </div>
    <div class="large-6 small-12 columns">
        <div class="row">
            <div class="large-12 small-12 columns">
                <strong>Password</strong>
                <input type="password" ng-model="newUser.password" class="form-control" />
            </div>
        </div>
    </div>
    <!-- createUser function found in signup-controller.js -->
    <button ng-click="createUser()">Submit</button>
</div>
