<!doctype html>
<html class="no-js" lang="en" ng-app="NotesApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter clone</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="header">
        <div class="row">
            <div class="large-12 small-12 columns" ng-controller="NavigationController">
                <p id="headline">https://github.com/singularitypress/notesApp.github.io/</p>
                <div>
                    <input type="text" ng-model="login.email" />
                    <input type="password" ng-model="login.password" />
                    <button ng-click="logUserIn()">Login</button>
                    <!--
                        1. It's "signUp" because that's the state found in app/app.js
                        2. The only reason anything recognizes ui-sref is because ui.router
                           is referenced in app.js, the same applies for ui-view
                        3. So presumably what happens is that the href looks at the states
                           available in app.js, chooses signUp which goes to /signup route and
                           renders signup.html inside the ui-view.
                    -->
                    <a ui-sref="signUp">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row">
            <div class="large-12 columns">
                <div ui-view>

                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="app/signup/signup-controller.js"></script>
    <script src="app/navigation/navigation-controller.js"></script>
    <!--
    <script src="js/foundationApp.js"></script>
-->
  </body>
</html>
